<mat-card fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="center baseline" style="margin-top: 15px;">
  <span fxFlex="50%"><strong>Task: </strong>{{ task.title }}</span>
  <mat-form-field appearance="outline" fxFlex="20%">
    <mat-label>Select name</mat-label>
    <mat-select>
      <mat-option value="option">Option</mat-option>
      <mat-option value="option">Name</mat-option>
      <mat-option value="option">Name</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" fxFlex="20%">
    <mat-select [(value)]="status">
      <mat-option value="in_progress">in progress</mat-option>
      <mat-option value="complete">complete</mat-option>
      <mat-option value="new">new</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button color="warn" fxFlex="10%">
    <mat-icon>delete</mat-icon>
  </button>
</mat-card>
